<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Edgecam_Manager_License.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SkaLicense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Edgecam_Manager_License.Properties.Settings>
            <setting name="License" serializeAs="String">
                <value>@AA@</value>
            </setting>
            <setting name="Customer" serializeAs="String">
                <value>@BB@</value>
            </setting>
            <setting name="LicenseExpiry" serializeAs="String">
                <value>@CC@</value>
            </setting>
            <setting name="VersionEdgecamManager" serializeAs="String">
                <value>@DD@</value>
            </setting>
            <setting name="EdgecamLicense" serializeAs="String">
                <value>@EE@</value>
            </setting>
            <setting name="LicenseType" serializeAs="String">
                <value>@FF@</value>
            </setting>
            <setting name="ComputerName" serializeAs="String">
                <value>@GG@</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>@HH@</value>
            </setting>
            <setting name="UserDomainName" serializeAs="String">
                <value>@II@</value>
            </setting>
            <setting name="MacAddress" serializeAs="String">
                <value>@JJ@</value>
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value>@KK@</value>
            </setting>
            <setting name="OsVersion" serializeAs="String">
                <value>@LL@</value>
            </setting>
            <setting name="OsBits" serializeAs="String">
                <value>@MM@</value>
            </setting>
            <setting name="Modules" serializeAs="String">
                <value>@NN@</value>
            </setting>
            <setting name="APIEnabled" serializeAs="String">
                <value>@OO@</value>
            </setting>
            <setting name="APILogin" serializeAs="String">
                <value>@PP@</value>
            </setting>
            <setting name="APIPassword" serializeAs="String">
                <value>@QQ@</value>
            </setting>
            <setting name="DateLicGenerate" serializeAs="String">
                <value>@RR@</value>
            </setting>
        </Edgecam_Manager_License.Properties.Settings>
        <SkaLicense.Properties.Settings>
            <setting name="SkaLicense" serializeAs="String">
                <value>@AA@</value>
            </setting>
            <setting name="SkaCustomer" serializeAs="String">
                <value>@BB@</value>
            </setting>
            <setting name="SkaLicenseExpiry" serializeAs="String">
                <value>@CC@</value>
            </setting>
            <setting name="SkaVersionEdgecamManager" serializeAs="String">
                <value>@DD@</value>
            </setting>
            <setting name="SkaEdgecamLicense" serializeAs="String">
                <value>@EE@</value>
            </setting>
            <setting name="SkaLicenseType" serializeAs="String">
                <value>@FF@</value>
            </setting>
            <setting name="SkaComputerName" serializeAs="String">
                <value>@GG@</value>
            </setting>
            <setting name="SkaUserName" serializeAs="String">
                <value>@HH@</value>
            </setting>
            <setting name="SkaUserDomainName" serializeAs="String">
                <value>@II@</value>
            </setting>
            <setting name="SkaMacAddress" serializeAs="String">
                <value>@JJ@</value>
            </setting>
            <setting name="SkaIpAddress" serializeAs="String">
                <value>@KK@</value>
            </setting>
            <setting name="SkaOsVersion" serializeAs="String">
                <value>@LL@</value>
            </setting>
            <setting name="SkaOsBits" serializeAs="String">
                <value>@MM@</value>
            </setting>
            <setting name="SkaModules" serializeAs="String">
                <value>@NN@</value>
            </setting>
            <setting name="SkaAPIEnabled" serializeAs="String">
                <value>@OO@</value>
            </setting>
            <setting name="SkaAPILogin" serializeAs="String">
                <value>@PP@</value>
            </setting>
            <setting name="SkaAPIPassword" serializeAs="String">
                <value>@QQ@</value>
            </setting>
            <setting name="SkaDateLicGenerate" serializeAs="String">
                <value>@RR@</value>
            </setting>
        </SkaLicense.Properties.Settings>
    </userSettings>
</configuration>